body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grid {
	display: flex;
	flex-direction: column;
	background: #BADA55;
	width: 50%;
	height: 90vh;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.cell {
	flex: 1;
	border: 1px solid black;
}

#reset-button {
	margin-bottom: 1em;
}
