body {
	text-align: center;
}

#grid {
	display: flex;
	flex-direction: column;
	background: #BADA55;
	width: 50%;
	height: 90vh;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.cell {
	flex: 1;
	border: 1px solid black;
}
